.goods-slider
    .wrapper_inner
        h2 Обеденные зоны
        .slider-item
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-1.jpg", alt="slide")
                    .slider-item__text
                        p Обеденная зона "КЛАССИКА"
                        span 56 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-2.jpg", alt="slide")
                    .slider-item__text
                        p Обеденная зона "КЛАССИКА"
                        span 56 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-3.jpg", alt="slide")
                    .slider-item__text
                        p Обеденная зона "КЛАССИКА"
                        span 56 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-2.jpg", alt="slide")
                    .slider-item__text
                        p Обеденная зона "КЛАССИКА"
                        span 56 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-3.jpg", alt="slide")
                    .slider-item__text
                        p Обеденная зона "КЛАССИКА"
                        span 56 300 руб./шт
.goods-slider
    .wrapper_inner
        h2 Столы
        .slider-item
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-4.jpg", alt="slide")
                    .slider-item__text
                        p Стол "ЛАЗУРИТ"
                        span 14 800 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-5.jpg", alt="slide")
                    .slider-item__text
                        p Стол "ТОПАЗ"
                        span 15 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-6.jpg", alt="slide")
                    .slider-item__text
                        p Стол "КРИСТАЛЛ"
                        span 10 800 руб. / шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-5.jpg", alt="slide")
                    .slider-item__text
                        p Стол "ТОПАЗ"
                        span 15 300 руб./шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-4.jpg", alt="slide")
                    .slider-item__text
                        p Стол "ЛАЗУРИТ"
                        span 14 800 руб./шт
.goods-slider
    .wrapper_inner
        h2 Стулья
        .slider-item
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-7.jpg", alt="slide")
                    .slider-item__text
                        p Стул "КАБРИОЛЬ"
                        span 5 450 руб. / шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-8.jpg", alt="slide")
                    .slider-item__text
                        p Стул "ГАММА"
                        span 3 850 руб. / шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-9.jpg", alt="slide")
                    .slider-item__text
                        p Стул "АЛЬФА"
                        span 3 650 руб. / шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-8.jpg", alt="slide")
                    .slider-item__text
                        p Стул "ГАММА"
                        span 3 850 руб. / шт
            .slider-item__slide
                .slider-item__wrap
                    .slider-item__img
                        img(src="./images/decor/slide-9.jpg", alt="slide")
                    .slider-item__text
                        p Стул "АЛЬФА"
                        span 3 650 руб. / шт